@page "/"
@inject Interface.ILocalStorageService Storage
@inject Service.ClientHttpService ClientHttpService
@inject NamesOutOfAHat2.Service.HatService HatService
@inject NavigationManager NavigationManager
@inject NamesOutOfAHat2.Service.ValidationService ValidationService
@inject NamesOutOfAHat2.Service.EligibilityValidationService EligibilityValidationService
@inject NamesOutOfAHat2.Service.HatShakerService HatShakerService

@using System.Text.Json
@using NamesOutOfAHat2.Model.DomainModels
@using NamesOutOfAHat2.Model.ViewModels
@using NamesOutOfAHat2.Utility

<div class="container my-5">

    <GdprConsent Visible="_mode.In(Modes.Gdpr)" NextCallback="SaveGdprConsentToLocalStorage" />

    <SectionHeading Visible="@_mode.In(Modes.Default, Modes.Adding)" Text="Put everyone's name in the hat!" />

    <ButtonArea Visible="_mode.In(Modes.Default)">
        <button type="button" @onclick="AddMode" class="btn btn-primary">Add a Participant</button>
    </ButtonArea>

    <AddParticipant Visible="@_mode.In(Modes.Adding)" Person="_person" PersonAddedCallback="PersonAdded" CancelCallback="DefaultMode" />

    <ParticipantList
        Visible="@(_mode.In(Modes.Default) && _hat.Participants.Any())"
        SaveCallback="Save"
        Hat="_hat"
        NextCallback="VerificationMode"
        ShowErrorsCallback="HatErrorsMode"
        ParticipantEditedCallback="ParticipantEdited"
        ParticipantRemovedCallback="ParticipantRemoved"
        ShakeUpTheHatCallback="ShakeUpTheHat"
    />

    <HatErrors Visible="@_mode.In(Modes.ShowingErrors)" Hat="_hat" NextCallback="DefaultMode" />

    <Verification Visible="@_mode.In(Modes.Verification)" Hat="_hat" NextCallback="NextMode" PreviousCallback="DefaultMode" />

    <OrganizerSelect
        Visible="@_mode.In(Modes.Organizer)"
        Hat="_hat"
        NextCallback="NextMode"
        PreviousCallback="PreviousMode"
        OrganizerSelectedCallback="OrganizerSelected"
    />

    <SendVerificationEmail Visible="@_mode.In(Modes.SendVerifyEmail)" Hat="_hat" NextCallback="NextMode" NextSkipStepCallback="NextModeSkipStep" PreviousCallback="PreviousMode" />

    <ConfirmationCodeEntry Visible="@_mode.In(Modes.ConfirmationCodeEntry)" Hat="_hat" NextCallback="NextMode" PreviousCallback="PreviousMode" />

    <EmailPreview Visible="@_mode.In(Modes.EmailComposition)" Hat="_hat" NextCallback="Finalize" PreviousCallback="PreviousMode" />

    <Success Visible="@_mode.In(Modes.Success)" Hat="_hat" NextCallback="NextMode" />

    <RestartOptions Visible="@_mode.In(Modes.RestartOptions)" Hat="_hat" NextCallback="DefaultMode" ResetCallback="ResetHat" />

    <ErrorDisplay Visible="@_mode.In(Modes.Failure)" ErrorDetails="@_errorDetails" NextCallback="DefaultMode" />

</div>

@code {
    PersonViewModel? _person;

    HatViewModel _hat = new()
    {
        Id = Guid.NewGuid(),
        Organizer = Participants.Empty,
        Errors = [],
        Name = string.Empty,
        AdditionalInformation = string.Empty,
        PriceRange = string.Empty,
        Participants = []
    };

    Modes _mode = Modes.Gdpr;

    string _errorDetails = string.Empty;

    enum Modes
    {
        Gdpr = -1,
        Default = 0,
        Adding = 1,
        ShowingErrors = 2,
        Verification = 3,
        Organizer = 4,
        SendVerifyEmail = 5,
        ConfirmationCodeEntry = 6,
        EmailComposition = 7,
        Success = 8,
        RestartOptions = 9,
        Failure = 10
    }

    protected override async void OnInitialized()
    {
        _mode = Modes.Gdpr;
        if (await TryLoadGdprConsentFromLocalStorage())
        {
            _mode = Modes.Default;
            await InitializeHat();
        }
    }

    async Task InitializeHat()
    {
        var savedHat = await TryLoadHatFromLocalStorageAsync();
        if (savedHat.success)
        {
            _hat = savedHat.hat!;
            StateHasChanged();
        }
        else
            AddMode();
    }

    async Task ResetHat()
    {
        _hat = new()
        {
            Id = Guid.NewGuid(),
            Errors = [],
            Name = string.Empty,
            Organizer = Participants.Empty,
            AdditionalInformation = string.Empty,
            PriceRange = string.Empty,
            Participants = []
        };
        await DefaultMode();
    }

    void AddMode()
    {
        _person = new PersonViewModel
        {
            Id = Guid.NewGuid(),
            Email = string.Empty,
            Name = string.Empty
        };
        _mode = Modes.Adding;
    }

    async Task NextMode()
    {
        _mode++;
        await SaveHatToLocalStorage();
    }

    async Task NextModeSkipStep()
    {
        _mode++;
        _mode++;
        await SaveHatToLocalStorage();
    }

    async Task PreviousMode()
    {
        _mode--;
        await SaveHatToLocalStorage();
    }

    async Task DefaultMode()
    {
        _mode = Modes.Default;
        await SaveHatToLocalStorage();
    }

    async Task VerificationMode()
    {
        _mode = Modes.Verification;
        await SaveHatToLocalStorage();
    }

    Task HatErrorsMode()
    {
        SwitchMode(Modes.ShowingErrors);
        return Task.CompletedTask;
    }

    void SwitchMode(Modes mode) => _mode = mode;

    async Task Save()
    {
        await SaveHatToLocalStorage();
    }

    async Task ParticipantEdited(ParticipantViewModel participant)
    {
        StateHasChanged();
        await SaveHatToLocalStorage();
    }

    async Task ParticipantRemoved(ParticipantViewModel participant)
    {
        _hat = HatService.RemoveParticipant(_hat, participant);
        StateHasChanged();
        await SaveHatToLocalStorage();
    }

    async Task PersonAdded(PersonViewModel person)
    {
        _hat = HatService.AddParticipant(_hat, new Person
        {
            Id = person.Id,
            Name = person.Name,
            Email = person.Email
        });
        await DefaultMode();
        await SaveHatToLocalStorage();
    }

    async Task OrganizerSelected(ParticipantViewModel participant)
    {
        _hat = _hat with
        {
            Organizer = participant
        };
    }

    async Task ShakeUpTheHat()
    {
        await SaveHatToLocalStorage();

        var result = ValidationService.Validate(_hat);

        if (result.IsSuccess)
            result = EligibilityValidationService.Validate(_hat);

        if (!result.IsSuccess)
        {
            _hat = _hat with
            {
                Errors = result.GetErrors()
            };
            await HatErrorsMode();
            return;
        }

        var shakeResult = HatShakerService.ShakeMultiple(_hat, 100);

        var next = shakeResult.Match(
            ok =>
            {
                _hat = ok;
                return VerificationMode();
            },
            _ =>
            {
                _hat = _hat with
                {
                    Errors = shakeResult.GetErrors()
                };
                return HatErrorsMode();
            });

        await next;
    }

    async Task SendCodeAndAdvance()
    {
        var result = await ClientHttpService
            .SendVerificationAsync(NavigationManager, _hat);

        await result
            .Match
            (
                async _ =>
                {
                    await NextMode();
                    return true;
                },
                error =>
                {
                    _errorDetails = error.Message;
                    SwitchMode(Modes.Failure);
                    return Task.FromResult(false);
                }
            );
    }

    async Task<bool> TryLoadGdprConsentFromLocalStorage()
    {
        return bool.TryParse(await Storage.GetFromLocalStorage("gdprConsent"), out var consent) ? consent : false;
    }

    async Task SaveGdprConsentToLocalStorage()
    {
        await Storage.SetLocalStorage("gdprConsent", true.ToString());
        await NextMode();
        await InitializeHat();
    }

    async Task<(bool success, HatViewModel? hat)> TryLoadHatFromLocalStorageAsync()
    {
        HatViewModel? hat = null;
        var hatJson = await Storage.GetFromLocalStorage("hat");

        try
        {
            hat = JsonSerializer.Deserialize<HatViewModel>(hatJson);
        }
        catch
        {
            return (false, hat);
        }

        if (!hat?.Participants.Any() ?? false)
            return (false, hat);

        hat = HatService.ReconstructParticipants(hat!);

        return (true, hat);
    }

    async Task SaveHatToLocalStorage()
    {
        var hatJson = JsonSerializer.Serialize(_hat);
        await Storage.SetLocalStorage("hat", hatJson);
    }

    async Task Finalize()
    {
        await SaveHatToLocalStorage();

        var result = await ClientHttpService.SendAsync(NavigationManager, _hat);

        result.Match
        (
            _ =>
            {
                SwitchMode(Modes.Success);
                return true;
            },
            error =>
            {
                _errorDetails = error.Message;
                SwitchMode(Modes.Failure);
                return false;
            }
        );
    }
}