@page "/"
@inject NamesOutOfAHat2.Interface.ILocalStorageService Storage
@inject NamesOutOfAHat2.Service.ValidationService ValidationService
@inject NamesOutOfAHat2.Service.EligibilityValidationService EligibilityValidationService

@using System.Text.Json
@using NamesOutOfAHat2.Model

<div class="bg-light rounded-3">
    <div class="container-fluid py-5">
        <div class="jumbotron">
            <h1 class="display-5">Put everyone's name in the hat!</h1>
        </div>

        @if(Mode != Modes.Adding)
        {
            <p>
                <button type="button" @onclick="SwitchToAddMode" class="btn btn-primary">Add a Participant</button>
            </p>
        }

        @if(Mode == Modes.Adding)
        {
            <AddParticipant Person="@Person" PersonAddedCallback="@PersonAdded" CancelCallback="@Cancelled" />
        }

        @if(Hat.Participants?.Any() ?? false)
        {
            @foreach(var participant in Hat.Participants)
            {
                <ParticipantDisplay Participant="@participant" ParticpantEditedCallback="@ParticipantEdited" />
            }

            <div class="container-fluid py-5">
                <button type="button" @onclick="ShakeUpTheHat" class="btn btn-primary btn-lg">Shake Up The Hat!</button>
            </div>
        }

        @if(Mode == Modes.ShowingErrors)
        {
            <div class="alert alert-danger" role="alert">
                <h4>There is a problem with the names in the hat.</h4>
                @if(Errors.Any())
                {
                    <ul>
                        @foreach(var error in Errors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                }
            </div>
        }

        @if(Mode == Modes.Staging)
        {
            <div class="alert alert-info" role="alert">
                <h4>The gift exchange looks good.</h4>
            </div>
        }

    </div>
</div>

@code {
    Person? Person;

    Hat Hat = new Hat();

    Modes Mode = Modes.Default;

    enum Modes
    {
        Default,
        Adding,
        ShowingErrors,
        Staging
    }

    protected override async void OnInitialized() 
    {
        var savedHat = await TryLoadFromLocalStorageAsync();
        if (savedHat.success)
        {
            Hat = savedHat.hat!;
            StateHasChanged();
        }
        else
            SwitchToAddMode();
    }

    void SwitchToAddMode()
    {
        Person = new Person() { Id = System.Guid.NewGuid() };
        Mode = Modes.Adding;
    }

    void Cancelled()
    {
        Mode = Modes.Default;
    }

    void SwitchMode(Modes mode) => Mode = mode;

    async void ParticipantEdited(Participant participant)
    {
        StateHasChanged();
        await SaveToLocalStorage();
    }

    async void PersonAdded(Person person)
    {
        Hat.Participants ??= new List<Participant>();

        var newGiverRecipients = new List<Recipient>();

        // make person a recipient for all existing participants
        foreach (Participant ep in Hat.Participants)
        {
            // new person is recipient for existing participant
            ep.Recipients.Add(new Recipient(person, true));
            // existing participant is recipient for new person
            newGiverRecipients.Add(new Recipient(ep.Person, true));
        }

        // add new participant to hat
        var participant = new Participant(person) {
            Recipients = newGiverRecipients
        };

        Hat.Participants.Add(participant);

        SwitchMode(Modes.Default);

        await SaveToLocalStorage();
    }

    async Task<(bool success, Hat? hat)> TryLoadFromLocalStorageAsync()
    {
        Hat? hat = null;
        var hatJson = await Storage.GetFromLocalStorage("hat");

        try
        {
            hat = JsonSerializer.Deserialize<Hat>(hatJson);

            if (!hat?.Participants?.Any() ?? false)
                return (false, hat);

            // the hat from local storage isn't exactly the same as the hat that was saved
            // because through serialization / deserialization, participant people are no
            // longer the same objects as recipient people.
            // To get them to be the same object, rebuild recipient lists
            var participantPeople = hat!.Participants!.ToDictionary(x => x.Person.Id, x => x.Person);

            foreach(var partcipant in hat!.Participants!)
            {
                var newRecips = new List<Recipient>();

                foreach(var oldRecip in partcipant.Recipients)
                {
                    // old recipient found
                    if(participantPeople.TryGetValue(oldRecip.Person.Id, out var newRecip))
                        newRecips.Add(new Recipient(newRecip, oldRecip.Eligible));
                    // any old recipients not found in list of people will be lost
                }

                partcipant.Recipients = newRecips;
            }

        } catch
        {
            return (false, hat);
        }

        return (true, hat);
    }

    async Task SaveToLocalStorage()
    {
        var hatJson = JsonSerializer.Serialize(Hat);
        await Storage.SetLocalStorage("hat", hatJson);
    }

    List<string> Errors;

    async void ShakeUpTheHat()
    {
        await SaveToLocalStorage();

        var (isValid, errors) = ValidationService.Validate(Hat);

        if(isValid)
            (isValid, errors) = EligibilityValidationService.Validate(Hat);

        Errors = errors!.ToList();

        if (!isValid)
            SwitchMode(Modes.ShowingErrors);
        else
            SwitchMode(Modes.Staging);
    }

}