@page "/"
@inject NamesOutOfAHat2.Service.LocalStorageService Storage

@using System.Text.Json
@using NamesOutOfAHat2.Model

<div class="bg-light rounded-3">
    <div class="container-fluid py-5">
        <div class="jumbotron">
            <h1 class="display-5">Put everyone's name in the hat!</h1>
        </div>

        @if(Mode == Modes.Default)
        {
            <p>
                <button type="button" @onclick="SwitchToAddMode" class="btn btn-primary">Add a Participant</button>
            </p>
        }

        @if(Mode == Modes.Adding)
        {
            <AddParticipant Person="@Person" PersonAddedCallback="@PersonAdded" CancelCallback="@Cancelled" />
        }

        @if (Hat.Participants?.Any() ?? false)
        {
            @foreach(var participant in Hat.Participants)
            {
                <ParticipantDisplay Participant="@participant" ParticpantEditedCallback="@ParticipantEdited" />
            }
        }

    </div>
</div>

@code {
    Person? Person;

    Hat Hat = new Hat();

    Modes Mode = Modes.Default;

    enum Modes
    {
        Default,
        Adding
    }

    protected override async void OnInitialized() 
    {
        var savedHat = await TryLoadFromLocalStorageAsync();
        if (savedHat.success)
        {
            Hat = savedHat.hat!;
            StateHasChanged();
        }
        else
            SwitchToAddMode();
    }

    void SwitchToAddMode()
    {
        Person = new Person() { Id = System.Guid.NewGuid() };
        Mode = Modes.Adding;
    }

    void Cancelled()
    {
        Mode = Modes.Default;
    }

    void SwitchMode(Modes mode) => Mode = mode;

    void ParticipantEdited(Participant participant)
    {
        StateHasChanged();
        SaveToLocalStorage();
    }

    void PersonAdded(Person person)
    {
        Hat.Participants ??= new List<Participant>();

        // create recipient
        var recipient = new Recipient() 
        {
            Person = person,
            Eligible = true
        };

        var newGiverRecipients = new List<Recipient>();

        // make person a recipient for all existing participant
        foreach (Participant ep in Hat.Participants)
        {
            ep.Recipients.Add(recipient);
            newGiverRecipients.Add(new Recipient()
            {
                Person = ep.Person,
                Eligible = true
            });
        }

        // make existing people recipients for new participant

        // add new participant to hat
        var participant = new Participant() {
            Person = person,
            Recipients = newGiverRecipients
        };

        Hat.Participants.Add(participant);

        SwitchMode(Modes.Default);

        SaveToLocalStorage();
    }

    async Task<(bool success, Hat? hat)> TryLoadFromLocalStorageAsync()
    {
        Hat? hat = null;
        var hatJson = await Storage.GetFromLocalStorage("hat");

        try
        {
            hat = JsonSerializer.Deserialize<Hat>(hatJson);
        } catch
        {
            return (false, hat);
        }

        return (true, hat);
    }

    async void SaveToLocalStorage()
    {
        var hatJson = JsonSerializer.Serialize(Hat);
        await Storage.SetLocalStorage("hat", hatJson);
    }

}